In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
import pandas as pd

In [2]:
#Credentials found in Connect.py file
from Connect import host, dbname, user, password

#Engine to connect to the database server.
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@\
{host}/{dbname}")

conn_string = f"host='{host}' dbname='{dbname}'\
user='{user}' password='{password}'"

conn = psycopg2.connect(conn_string)

In [3]:
# List the columns you want to appear in your dataframe
#Leave list empty to return all
columns_list = []

table_df = pd.read_sql_table(
    'world_data',
    con = engine,
    columns = columns_list
)
print(table_df)

         country  density_p_km2 abbreviation  agricultural_land  \
0    Afghanistan             60           AF               58.1
1        Albania            105           AL               43.1
2        Algeria             18           DZ               17.4
3        Andorra            164           AD               40.0
4         Angola             26           AO               47.5
..           ...            ...          ...                ...
190    Venezuela             32           VE               24.5
191      Vietnam            314           VN               39.3
192        Yemen             56           YE               44.6
193       Zambia             25           ZM               32.1
194     Zimbabwe             38           ZW               41.9

     land_area_km2  armed_forces_size  birth_rate  calling_code  \
0         652230.0           323000.0       32.49          93.0
1          28748.0             9000.0       11.78         355.0
2        2381741.0           317000.0       24.28         213.0
3            468.0                NaN        7.20         376.0
4        1246700.0           117000.0       40.73         244.0
..             ...                ...         ...           ...
190       912050.0           343000.0       17.88          58.0
191       331210.0           522000.0       16.75          84.0
192       527968.0            40000.0       30.45         967.0
193       752618.0            16000.0       36.19         260.0
194       390757.0            51000.0       30.68         263.0

    capital_major_city  co2_emissions  ...  out_of_pocket_health_expenditure  \
0                Kabul         8672.0  ...                              78.4
1               Tirana         4536.0  ...                              56.9
2              Algiers       150006.0  ...                              28.1
3     Andorra la Vella          469.0  ...                              36.4
4               Luanda        34693.0  ...                              33.4
..                 ...            ...  ...                               ...
190            Caracas       164175.0  ...                              45.8
191              Hanoi       192668.0  ...                              43.5
192              Sanaa        10609.0  ...                              81.0
193             Lusaka         5141.0  ...                              27.5
194             Harare        10983.0  ...                              25.8

     physicians_per_thousand  population  \
0                       0.28  38041754.0
1                       1.20   2854191.0
2                       1.72  43053054.0
3                       3.33     77142.0
4                       0.21  31825295.0
..                       ...         ...
190                     1.92  28515829.0
191                     0.82  96462106.0
192                     0.31  29161922.0
193                     1.19  17861030.0
194                     0.21  14645468.0

     population_labor_force_participation  tax_revenue total_tax_rate  \
0                                    48.9          9.3           71.4
1                                    55.7         18.6           36.6
2                                    41.2         37.2           66.1
3                                     0.0          0.0            0.0
4                                    77.5          9.2           49.1
..                                    ...          ...            ...
190                                  59.7          0.0           73.3
191                                  77.4         19.1           37.6
192                                  38.0          0.0           26.6
193                                  74.6         16.2           15.6
194                                  83.1         20.7           31.6

    unemployment_rate  urban_population   latitude   longitude
0               11.12         9797273.0  33.939110   67.709953
1               12.33         1747593.0  41.153332   20.168331
2               11.70        31510100.0  28.033886    1.659626
3                0.00           67873.0  42.506285    1.521801
4                6.89        21061025.0 -11.202692   17.873887
..                ...               ...        ...         ...
190              8.80        25162368.0   6.423750  -66.589730
191              2.01        35332140.0  14.058324  108.277199
192             12.91        10869523.0  15.552727   48.516388
193             11.43         7871713.0 -13.133897   27.849332
194              4.95         4717305.0 -19.015438   29.154857

[195 rows x 35 columns]